.header {
    font-family: "VT323", cursive;
    font-size: 5rem;
    color: #fef2bf;
}

.game-over-text {
    font-size: 4rem;
    font-family: "Potta One", cursive;
    color: rgb(255, 0, 0);

    margin-top: 5rem;
}
